<div class="containerT">

    <div class="container">

        <h1>Juegos</h1>
        <div class="menu-container">
            <div class="box" routerLink="/juegos/mijuego">
                <span></span>
                <div class="content">
                    <h2>Mi juego </h2>
                    <p>Rompecabezas, ordenar los numeros</p>
                </div>

            </div>
            <div class="box" routerLink="/juegos/memotest">
                <span></span>
                <div class="content">
                    <h2>Memotest </h2>
                </div>
            </div>

            <div class="box" routerLink="/juegos/piedrapapeltijera">
                <span></span>
                <div class="content">
                    <h2>Piedra Papel Tijera </h2>
                </div>
            </div>

            <div class="box" routerLink="/juegos/tateti">
                <span></span>
                <div class="content">
                    <h2>TaTeTi</h2>

                </div>
            </div>
        </div>
    </div>
</div>