<div class="containerD">
  <br>
  <div class="hero-text">
    <div>
      <img src="./assets/imagenes/sala.png" width="700">
    </div>
    <div>
      <p>Vanina Quezada</p>
      <a href="https://github.com/Vaninaquezada/tpSalaDeJuego/tree/master" target="_blank">en GitHub <i
          class="fa fa-github"></i></a>
      <a routerLink="/quiensoy">¿Quien Soy? <i class="fa fa-user"></i></a>
    </div>
  </div>

  <div class="menu-container">
    <div class="box" routerLink="/juegos">
      <span></span>
      <div class="content">
        <h2>Juegos </h2>
      </div>
    </div>

    <div class="box" routerLink="/chat">
      <span></span>
      <div class="content">
        <h2>Chat </h2>
      </div>
    </div>

    <div class="box">
      <span></span>
      <div class="content">
        <h2>Listas </h2>

      </div>
    </div>

    <div class="box">
      <span></span>
      <div class="content">
        <h2>Listado de Juegos</h2>

      </div>
    </div>
  </div>
</div>