<app-navbar></app-navbar>

<div class="container">


  <div class="hero-text"  >
    <img src="./assets/imagenes/sala.png"  width="700" >
    <p>Vanina Quezada</p>
    <a href="https://github.com/Vaninaquezada/tpSalaDeJuego.git" target="_blank">en GitHub <i class="fa fa-github"></i></a>
    <a  routerLink="/quiensoy" >Quien Soy? <i class="fa fa-user"></i></a>
  </div>
  <div class="menu">
  <div class="titulo">  
    <h1>Menú</h1>
 </div>

  <!-- <div class="menu-container">


       <a routerLink="/Juegos">
         <div class="media juegos">
           <div class="media-left">
           </div>
           <div class="media-body ">
           
             <h4 class="juegos">Juegos</h4>
             <p>Listado de Juegos</p>
           </div>

         </div>
       </a>
       <a routerLink="/Listado">
         <div class="media listados">
           <div class="media-left">
           </div>
           <div class="media-body">
             <h4 class="media-heading">Listados de resultados</h4>
             <p>Los listados de los resultados con ordenamiento y busqueda</p>
           </div>

         </div>
       </a>
       <a routerLink="/Juegos">
         <div class="media configuracion">
           <div class="media-left">
           </div>
           <div class="media-body">
             <h4 class="media-heading">Configuraci&oacute;n</h4>
             <p>Ajustes de la aplicacion y los métodos de autentificación</p>
           </div>

         </div>
       </a>
       <a routerLink="/Jugadores">
         <div class="media jugadores">
           <div class="media-left">
           </div>
           <div class="media-body">
             <h4 class="media-heading">Jugadores</h4>
             <p>Listado de jugadores</p>
           </div>

         </div>
       </a>
     </div>
    </div>
  -->
 </div>