<div class="juegoContainer">
    <div class="juego">
        <div class="game">
            <div class="overlay-text {{start}}" (click)="clickBoton()">
                Click para empezar
            </div>
            <div id="victory-text" class="overlay-text {{victoria}}" (click)="clickBoton()">
                Ganaste!!!
                <span class="overlay-text-small"><br> <br> <br> <br>Click para jugar de nuevo</span>
            </div>
            <div class="grid">
                <button *ngFor="let item of contenido;index as indice"
                    (click)="handleClickBox(indice)">{{contenido[indice]}}</button>
                <!-- <button (click)="handleClickBox(1)">{{j}}</button>
                <button (click)="handleClickBox(2)">{{contenido}}</button>
                <button (click)="handleClickBox(3)">3</button>
                <button (click)="handleClickBox(4)">4</button>
                <button (click)="handleClickBox(5)">5</button>
                <button (click)="handleClickBox(6)">6</button>
                <button (click)="handleClickBox(7)">7</button>
                <button (click)="handleClickBox(8)">8</button>
                <button (click)="handleClickBox(9)">9</button>
                <button (click)="handleClickBox(10)">10</button>
                <button (click)="handleClickBox(11)">11</button>
                <button (click)="handleClickBox(12)">12</button>
                <button (click)="handleClickBox(13)">13</button>
                <button (click)="handleClickBox(14)">14</button>
                <button (click)="handleClickBox(15)">15</button>
                <button (click)="handleClickBox(16)"></button>
-->
            </div>

            <div class="footer">
                <button (click)="clickBoton()">{{boton}}</button>
                <span id="move">Movimiento: {{estado.move}}</span>

            </div>
            <div class="footer">
                <button class="ordenar" (click)="ordenar()">Ordenar para ganar</button>
                <span id="time">Tiempo: {{estado.time}}</span>
            </div>
        </div>

    </div>
</div>